---
layout: default
title: Luz Pulsada
overview: true
---

<img src="{{ site.url }}/assets/luz-pulsada.png" >

<br/>

<h1>Luz Pulsada</h1>

<ul>
  {% for post in site.posts %}
    {% unless post.category == "artigo" %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endunless %}
  {% endfor %}
</ul>

<h2>Artigos sobre a luz pulsada</h2>

<ul>
  {% for post in site.posts %}
    {% if post.category == "artigo" %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

