<header>
  <h1><a href="/">Luz Pulsada</a></h1>
  <p>A luz pulsada é uma tecnologia utilizada por institutos de beleza e médicos para realizar diversos tratamentos da pele, incluindo remoção de pêlos e foto rejuvenescimento.</p>

  <div class="header-banner-large">
    {% include adsense.html %}
    <div class="fb-like-box" data-href="https://www.facebook.com/luz.pulsada" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
  </div>

  <div class="header-banner-small">
    {% include ad_block.html %}
  </div>
</header>
