{% include top.html %}

<body>
  {% include cookie.html %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=1574536172803564&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="wrapper">
    {% include header.html %}

    <section>
      {{ content }}
      {% include ad_block.html %}
    </section>

    {% include footer.html %}
  </div>
  {% include analytics.html %}

</body>
</html>
